*.map
*.obj
*.out
*.pp
*.o
.metadata/
.metadata_backup/
.metadata_backup_2/
Stuff for PREESM guys/
arrayAddition/
arrayMultiplicationPointerTesting/
arrayTranspose/
backups/
crossCoreAccumulationFinalMemOpt/Code6678/Release/
crossCoreAccumulationFinalMemOpt/Code6678/generated/log_memoryScriptsaddition.txt
crossCoreAddition/.gitignore
crossCoreMultiplication/.gitignore
crossCoreTensorMultiplication/Code6678/.ccsproject
crossCoreTensorMultiplication/Code6678/.cproject
crossCoreTensorMultiplication/Code6678/.project
crossCoreTensorMultiplication/Code6678/.settings/
crossCoreTensorMultiplication/Code6678/.xdchelp
donut
donut.c
donut2
donut2.c
gtodTesting/
memory.tutorial.test/
singleCoreQR/
singleCoreTensorMultiplication/
tutorial3.memory.optimisation/

